<!-- Start Help Area -->
<section class="help-area bg-color2">
    <div class="help-wrapper inner-spacing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="help-section white-text">
                        <h2 class="heading-2">Questions? Suggestions? Bug Reports?</h2>
                        <p class="m-0">
                          We'll be glad to hear you're using our API. We'll get back to
                          you as soon as possible.
                        </p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                  <div class="d-flex themeix-highlight">
                    <div class="help-btn align-self-center themeix-highlight">
                       <a href="mailto:developers@bitex.la" class="btn-style3 btn">Email Us!</a>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="help-btn align-self-center themeix-highlight">
                       <a href="https://github.com/bitex-la/bitex-guides/issues" target="_blank" class="btn-style3 btn">Issue Tracker</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Help  Area -->
