{% assign next_index = page.index | plus: 1 %}
{% assign prev_index = page.index | minus: 1 %}

{% assign next_page = site.docs | where: "section", page.section | where: "index", next_index | first %}
{% assign prev_page = site.docs | where: "section", page.section | where: "index", prev_index | first %}


<nav class="page-pagination">
  {% if prev_page %}
    <div class='pull-left'>
       <a class="prev-btn" href="{{prev_page.url}}">
         <i class="fa fa-angle-double-left"></i>
         {{ prev_page.title }}
       </a>
    </div>
  {% endif %}

  {% if next_page %}
    <div class='pull-right'>
      <a class="next-btn" href="{{next_page.url}}">
        {{ next_page.title }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
  {% endif %}
</nav>
