<!-- Start Topics  Area -->
<section class="topics-area bg-color1">
    <div class="topics-wrapper section-spacing pt-0 bminus-30">
        <div class="container">
            <br/>
            <div class="section-title">
                <h2 class="heading-2">Topics</h2>
                <p>Technical aspects to consider for your integration.</p>
            </div>
      
      <div class="row">
        {% for post in site.docs %}
          {% if post.topic %}
            <div class="col-md-6 col-lg-4">
              <article class="topics-service bg-color3 wow fadeIn" data-wow-duration="2s">
                <header class="topics-title">
                  <h4 class="heading-4 text-capitalize">
                    {% if post.featured_title %}
                      {{post.featured_title }}
                    {% else %}
                      {{post.title }}
                    {% endif %}
                  </h4>
                </header>
                <p>{{post.description}}</p>
                <a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark btn-sm">Read Now</a>
              </article>
            </div>
          {% endif %}
        {% endfor %}
      </div>        
    </div>
    </div>
</section>
<!-- End Topics Area -->
